.modal-dialog {
	z-index: 10000 !important;
}

.n-modal {
	width: 400px;
	position: relative;
	top: 150px;
	margin: 0 auto;
	padding: 0;
	display: block;
	border: 0;
	background-color: #252525;
	box-shadow: rgba(0,0,0,0.40) 0 10px 30px 2px !important;
	border-radius: 10px;
}
.n-modal .form-control:focus,
.n-modal .form-control:active, 
.n-modal .form-control:hover {
	outline: 0;
}
[data-bs-theme=dark] .n-modal-inner {
	color: var(--bs-light);
	background-color: #353535;
}
[data-bs-theme=light] .n-modal-inner {
	color: var(--bs-dark);
	background-color: var(--bs-secondary-bg-subtle);
}

.n-modal-inner {
	padding: 15px 20px;
	border: 0;
	border-radius: 0 0 5px 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

.modal-footer {
	margin-top: 15px;
}

[data-bs-theme=dark] .bm-close,
[data-bs-theme=light] .bm-close,
[data-bs-theme=dark] .bm-header,
[data-bs-theme=light] .bm-header {
	color: var(--bs-light) !important;
	background-color: transparent !important;
}
.bm-header {
	padding-bottom: 10px !important;
	border-radius: 10px 10px 0 0;
	border-bottom: 3px solid var(--bs-primary);
}
[data-bs-theme=dark] .bm-title {
	color: var(--bs-light) !important;
}
[data-bs-theme=light] .bm-title {
	color: var(--bs-light) !important;
}

.bm-title {
	font-size: 1.3em !important;
	padding: 10px 0 0 10px;
}
.bm-close {
	padding: 0 10px 0 0;
	margin: -1.3rem 0 -1.5rem auto !important;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	cursor: pointer;
	font-size: 2rem !important;
	font-weight: bold;
}