@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


body,
html {
    /*font-family: 'Saira Condensed', sans-serif;*/
    font-family: 'Ubuntu Light', sans-serif;
    font-size: 1.1em;
	font-weight: 400;
	height: 100vh;
    padding: 0;
    margin: 0;
	overflow-y: hidden;
}

.main-content {
	display: grid;
	position: absolute;
	top: 54px;
	left: 0;
	width: 100%;
	grid-template-columns: 25% 25% 50%;
	grid-template-rows: auto ;
	height: 100%;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
/* GRID/COLUMNS */
[data-bs-theme=dark] .col-notebooks { background-color: #151515; }
[data-bs-theme=light] .col-notebooks { background-color: #CCC; }
.col-notebooks {
    padding: 5px 10px;
	grid-column: 1;
}
[data-bs-theme=dark] .col-notes { background-color: #202020; }
[data-bs-theme=light] .col-notes { background-color: #DDD; }
.col-notes {
    padding: 5px 10px;
	grid-column: 2;
}
[data-bs-theme=dark] .col-editor { background-color: #252525; }
[data-bs-theme=light] .col-editor { background-color: #EEE; }
.col-editor {
    padding: 5px 10px;
	background-color: #252525;
	grid-column: 3;
}

.col-notebooks h3,
.col-notes h3,
.col-editor h3 {
	font-family: 'Ubuntu Medium', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: .5rem;
	margin: 13px 0 7px 17px;
	line-height: 30px;
	text-transform: uppercase;
}

.col-notebooks ul,
.col-notes ul {
	max-height: 82%;
	overflow-y: auto;
}

.editor-form {
    padding: 5px 10px;
}
.editor-form .form-control {
    margin-bottom: 15px;
}

.last-updated {
	margin-right: 13px;
	letter-spacing: normal;
	font-size: 0.7em;
	font-style: italic;
	color: #555;
}

/* NAV */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-header {
    border-bottom: 3px solid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navbar-brand img {
    margin: 0;
    height: 40px;
    width: 40px;
}
.header-title {
    font-family: 'Ubuntu Medium', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: .5rem;
    margin-top: 3px;
    margin-left: -15px;
    text-transform: uppercase;
}
.header-title span {
    color: var(--bs-primary);
}

.bg-footer,
.nav-header {
	background-color: #151515;
	border-color: var(--bs-primary);
	color: #ccc;
}
/* FOOTER */

.bg-footer {
    border-top: 3px solid var(--bs-primary);
    color: #757575;
    padding: 0;
}

.footer {
    position: fixed;
    text-align: center;
    line-height: 40px;
    min-height: 40px;
    font-size: 0.9em;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer span {
    color: rgb(178, 32, 46);
}

[data-bs-theme=dark] .list-group-item.list-group-item-action {	background-color: #252525; }
[data-bs-theme=light] .list-group-item.list-group-item-action {	background-color: #BBB; }
.list-group-item.list-group-item-action {
	line-height: 30px;
}

[data-bs-theme=dark] .list-group-item.list-group-item-action.active {	background-color: #353535; border-color: #454545 }
[data-bs-theme=light] .list-group-item.list-group-item-action.active {	background-color: #999; border-color: #CCC }


/* TEXT AREA */
#save-indicator {
	opacity: 0;
	font-size: 0.8em;
}
[data-bs-theme=dark] #save-indicator span {
	color: var(--bs-success);
	background-color: #35553595;
}
[data-bs-theme=light] #save-indicator span {
	color: var(--bs-light);
	background-color: #55BB5595;
}
#save-indicator span {
	position: relative;
	border-radius: 5px;
	padding: 3px 12px 3px 32px;
}

.theme-toggle {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 20px;
	line-height: 40px;
}
.theme-toggle:hover {
	background-color: #353535;
	color: var(--bs-warning);
}

/* ANIMATIONS */
.fade-green-to-black {
	animation: fadeGreenToBlack 3s;
}
@keyframes fadeGreenToBlack {
	0% { color: #555; }
	12.5% { color: var(--bs-success); }
	50% { color: var(--bs-success); }
	100% { color: #555; }
}

.fade-in-out {
	animation: fadeInOut 4s forwards;
}
@keyframes fadeInOut {
	0% { opacity: 0; }
	12.5% { opacity: 1; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

.spin {
	position: absolute;
	left: 10px;
	animation: spinner .5s linear infinite;
}
@keyframes spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(1turn); }
}

