<footer class="container-fluid bg-footer footer">
	<div class="container">
		Copyright <span>nGAGEOnline</span> © @Year
		<!-- copyright content goes here -->
	</div>
</footer>

@code {
	private int Year => DateTime.Now.Year;
}