<nav class="navbar navbar-expand header">
	<div class="nav-header container-fluid justify-content-start">
		<NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
			<img src="images/logo.png" alt="logo"/>
		</NavLink>
		<div class="header-title">ote<span>able</span></div>
	</div>
</nav>


@code {
}